<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Offline Nodes</title>
	
    <meta http-equiv="refresh" content="30">

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <div class="navbar">

        <div class="nav-title">
            Offline Nodes
        </div>

        <div class="nav-links">

            <a href="/">Dashboard</a>

            <a href="/history">History</a>

        </div>

    </div>

    <div class="container">

        <div class="card">

            <h2>Offline Servers</h2>

            <table>

                <tr>
                    <th>Hostname</th>
                    <th>IP</th>
                    <th>Status</th>
                    <th>Last Check</th>
                </tr>

                {% for server in servers %}

                <tr>

                    <td>
    			<a href="/node/{{ server.hostname }}"
       			   class="node-link">

        			{{ server.hostname }}

    			</a>
		    </td>

                    <td>{{ server.ip }}</td>

                    <td>{{ server.status }}</td>

                    <td>{{ server.last_check }}</td>

                </tr>

                {% endfor %}

            </table>

        </div>

    </div>

</body>

</html>
